
<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 

<div class="container mb-4" style="border: 0;">
    <%- include('../partials/flash') %> 
</div>


<div class="container" id="con1">
    <div class="row">
        <h2 class="col-12 col-lg-12 col-md-12 col-sm-12 lead display-2">Cooking gone wrong?</h2>
        <h3 class="col-12 col-lg-12 col-md-12 col-sm-12 lead display-6">Get recipies for your favorite foods and enjoy your meal.</h3>
    </div>
    <div class="row">
        <form action="/meals/search" method="GET">
            <input type="text" name="mealName" placeholder="Search......" class="col-10 col-lg-8 col-md-7 col-sm-12" value="" style="margin-bottom: 10px;">
            <button type="submit" class="btn-primary btn-lg col-3 col-lg-2 col-md-3 col-sm-4">Search</button>
        </form>
    </div>
</div>

<div class="container" id="categories">
    <div class="row">
        <% for(let category of categories){ %>
            <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center" style="width: 20rem; margin: 20px auto;">
                    <img src="<%= category.strCategoryThumb %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.strCategory %></h5>
                        <p class="card-text"><%= category.strCategoryDescription.substring(0,50) %></p>
                        <a href="/meals/<%= category.strCategory %>" class="btn btn-outline-primary">View Meals</a>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
</div>




<%- include('../partials/footer') %> 